conda install pytorch==1.4.0 torchvision==0.5.0 cudatoolkit=10.1 -c pytorch
pip install pygame==2.0.0.dev6
pip install gym
pip install -U scikit-learn
pip install --user git+https://github.com/eleurent/highway-env
pip install --user git+https://github.com/eleurent/rl-agents